*{
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    font-family: 'Minecraft', sans-serif;
}
div.titulo{
    text-align: center;
    border-radius: 10px;
    padding: 2px;
    background-color: #75FF6A;                                             
}
form{
    background-color: #00C993;
    border-radius: 20px;
    background-image: url('Imagenes/Minecraft.jpg');
}
label{
    background-color: silver;
    border-radius: 50px;
}
textarea{
    background-color: whitesmoke;
}
.btnCargar{
    float: right;
    text-decoration: none;
    width:25%;
    border: 3px solid black;
    border-radius:50px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    font-size: 30px; 
  }

  .btnCargar:hover{
    background:black;
    color:white;

  }