*{
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}
a.todo{
    float: right;
    text-decoration: none;
    font-size: 20px;
    background-color: mediumorchid;
    color: white;
    border-radius: 5px;
}
a.agregar{
    float: right;
    text-decoration: none;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
}
a.eliminar{
    float: center;
    padding-bottom:-2rem;
    font-size: 20px;
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 5px;
}
a.editar{
    float:center;
    padding-bottom:-2rem;
    font-size: 20px;
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

tr.titulo{
    background-color: black;
    font-family: 'Minecraft', sans-serif;
    color: white;
    text-align: center;
    font-size: 25px; 
}

body{
    background-image: url('src/Imagenes/fondo.png');
    background-size:cover;
    padding-top: 80px;
    padding-left: 200px;
    padding-right: 200px;
  }

body.fondo {
    background-image: url('src/Imagenes/Minecraft.jpg');
    background-position: center;
    background-size:cover;
    padding-top: 80px;
    padding-left: 200px;
    padding-right: 200px;
  }

div.buscador{
    background-color: #00C993;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
div.consultar{
    background-color: #00C993;
    height: 110px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div.datos{
    background-color: white;
}

div.titulo{ 
    font-family: 'Minecraft', sans-serif;
    color:black;
    text-align: center;
    font-size: 30px; 
    background-image: url('src/Imagenes/Pasto.jpg');
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;                                         
}
form.agregar{
    background-color: #00C993;
    background-image: url('src/Imagenes/Tierra.jpg');
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Minecraft', sans-serif;
}
.padre{
    position: relative;
}
.modal-content{
    align-items: center;
    position: absolute;
    top: 2px;
    left: -265px;
    width: 1050px;
}
label{
    text-align: center;
    background-color: silver;
    border-radius: 5px;
    width: 100%;
}
textarea{
    background-color: whitesmoke;
}

#btnGet{
    width: 60%;
    border: 3px solid black;
    border-radius:50px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    font-size: 25px; 
  }
  #btnGet:hover{
    background:black;
    color:white;
  }

#buscar{
    width: 60%;
    border: 3px solid black;
    background-color: white;
    border-radius:50px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    font-size: 25px; 
  }
  #buscar:hover{
    background:black;
    color:white;
  }

.btnCapturar{
    width:20%;
    border: 3px solid black;
    border-radius:50px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    font-size: 30px; 
  }
  .btnCapturar:hover{
    background:black;
    color:white;
  }