*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    width: 100%;
    height: 100%;
}
li{
    text-align: center;
    -moz-text-size-adjust: auto;
}
a{
    text-decoration: none;
}
font{
    color: white;
    font-style: italic;
}
font.subTitulo{
    color: silver;
    font-style: initial;
}
h3{
    color: black;
}
ul.opciones > li{
    border:1px solid whitesmoke;
    border-radius:22px;
}
ul.opciones > li > ul{
    display: none;
}
ul.opciones > li:target > ul{
    display: block;
    height: 100%;
}
ul > li.subOpcion > ul{
    display: none;
}
ul > li.subOpcion:hover > ul{
    display: block;
    height: 100%;
}
.opcion{
    background: mediumaquamarine;
}
.subOpcion{
    padding-left: 20px;
    background: whitesmoke;
    height: 100%;
    width: 100%;
}
table{
    width: 100%;
    height: 100%;
    background: white;
}
p{
    text-align: justify;
}
td.cambiar{
    width: 30%;
    height: 100%;
}